RewriteEngine on

RewriteCond %{HTTP_HOST} ^(www.)?novobud.pl.ua$

RewriteCond %{REQUEST_URI} !^/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /public/$1 [L]
RewriteCond %{HTTP_HOST} ^(www.)?novobud.pl.ua$
RewriteRule ^(/)?$ public/index.php [L]

<Files .env>
Order Deny,Allow
Deny from all
</Files>

<Files .env.example>
Order Deny,Allow
Deny from all
</Files>


<Files "/public">
Order Deny,Allow
Allow from all
</Files>

# block files which needs to be hidden, specify .example extension of the file
<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>